/*
estilo da pagina index
*/

.center{
  text-align: center;
}

.container{
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.menu {
    display: inline;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
}

.menu a{
  text-decoration: none;
  color: brown;
}

.menu a:hover{
  color: bisque;
}

